@model IEnumerable<Product>

<a href="/dashboard/product/create" class="btn btn-success btn-icon-split">
    <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
    </span>
    <span class="text">Create</span>
</a>

<!-- DataTales Example -->
<div class="card shadow my-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Discound</th>
                        <th>Photo</th>
                        <th>IsSlider</th>
                        <th>IsDelete</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Discound</th>
                        <th>Photo</th>
                        <th>IsSlider</th>
                        <th>IsDelete</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Quantity</td>
                            <td>@product.Discound</td>
                            <td>
                                <img src="@product.CoverPhoto" width="150" height="150" />
                            </td>
                            <td>
                                @{
                                    if (product.IsSlider)
                                    {
                                        <button class="btn btn-outline-success">+</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-danger">-</button>
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (product.IsDelete)
                                    {
                                        <button class="btn btn-outline-danger">-</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-outline-success">+</button>
                                    }
                                }
                            </td>
                            <td>
                                <a class="btn btn-danger" href="/dashboard/product/delete/@product.Id">Delete</a>
                                <a class="btn btn-warning" href="/dashboard/product/update/@product.Id">Update</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>